{% extends 'base.html' %}

{% block title%} Blog {% endblock title%}
{% block blogactive %} active {% endblock blogactive %}
<link rel="shortcut icon" href="static/img/blog_favicon.png" type="image/x-icon">
{% block body %}
<style type="text/css">
  #bloggs{
    font-family: "Serif", Times New Roman;
     background-color:white;
  }

  </style>
<div class="container my-3">
  <h2 class="text-center">Blogposts</h2>
  {% for post in allposts %}

      <div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow h-md-250 position-relative" id="bloggs">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="d-inline-block mb-2 text-error">Blog by <b>{{post.author}}</b></h3>
          <h4 class="mb-0"><a class="text-dark" href="/blog/{{post.slug}}">{{post.title}}</a></h4>
          <p class="card-text mb-auto"><div class="preview">{{post.content|safe | truncatechars:500 }}</div></p>
          <div class="my-2">
          <a href="/blog/{{post.slug}}" role="button"class="btn btn-outline-primary">Continue reading</a>
          </div>
        </div>
        <div class="col-auto d-none d-lg-block">

        </div>
      </div>
  {% endfor %}
</div>
{% endblock body %}
